<h1>Simple website - This is index.html!</h1>
<hr>
<a href=index.php>index.php</a><br>
<a href=phpinfo.php>phpinfo.php</a><br>
<a href=createfile.php>createfile.php</a><br>
<a href=dbconnection.php>dbconnection.php</a><br>
<hr>
<p>
Deployment 1 using GitLab CI/CD
<p>
Deployment 2 using Gitlab.
